{% extends 'base.html' %}

{% block title %}
    车票查询与预定
{% endblock %}
{% block app_content %}
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#query" data-toggle="tab">
                车票查询
            </a>
        </li>
        {% if current_user.is_authenticated %}
            <li>
                <a href="#buy" data-toggle="tab">车票预定</a>
            </li>
        {% endif %}
    </ul>
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="query">
        <div class="col-md-4">
            <h3>车票查询</h3>
            {% import 'bootstrap/wtf.html' as wtf %}
            {{ wtf.quick_form(query_form) }}
        </div>
        {% if query_post %}
            <div class="col-md-8">
                {% if query_post[0][0]=='0' %}
                    <h4>没有车次符合要求！</h4>
                {% elif query_post[0].__len__()==1 %}
                    <table class="table table-hover table-bordered">
                        <h4>有 <strong>{{ query_post[0][0] }}</strong> 辆车符合要求</h4>
                        <div class="alert alert-success" style="display: none" role="alert">购票成功！</div>
                        <div class="alert alert-danger" style="display: none" role="alert">购票失败！</div>
                        <thead>
                        <tr>
                            <th>车次名称</th>
                            <th>出发站</th>
                            <th>出发日期</th>
                            <th>出发时间</th>
                            <th></th>
                            <th>到达站</th>
                            <th>到达日期</th>
                            <th>到达时间</th>
                            <th>总价</th>
                            <th>余票</th>
                            <th>购票</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in range(1,query_post.__len__()) %}
                            <tr id="record_{{ i }}">
                                <td>{{ query_post[i][0] }}</td>
                                <td>{{ query_post[i][1] }}</td>
                                <td>{{ query_post[i][2] }}</td>
                                <td>{{ query_post[i][3] }}</td>
                                <td>➡</td>
                                <td>{{ query_post[i][5] }}</td>
                                <td>{{ query_post[i][6] }}</td>
                                <td>{{ query_post[i][7] }}</td>
                                <td>{{ query_post[i][8] }}</td>
                                <td>{{ query_post[i][9] }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal"
                                            data-target="#myModal" onclick="change(this)">购票
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table table-hover table-bordered">
                        <h4>查询到换乘方案！</h4>
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>车次名称</th>
                            <th>出发站</th>
                            <th>出发日期</th>
                            <th>出发时间</th>
                            <th></th>
                            <th>到达站</th>
                            <th>到达日期</th>
                            <th>到达时间</th>
                            <th>总价</th>
                            <th>余票</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr id="record_1">
                            <td>1</td>
                            <td>{{ query_post[0][0] }}</td>
                            <td>{{ query_post[0][1] }}</td>
                            <td>{{ query_post[0][2] }}</td>
                            <td>{{ query_post[0][3] }}</td>
                            <td>➡</td>
                            <td>{{ query_post[0][5] }}</td>
                            <td>{{ query_post[0][6] }}</td>
                            <td>{{ query_post[0][7] }}</td>
                            <td>{{ query_post[0][8] }}</td>
                            <td>{{ query_post[0][9] }}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#myModal" onclick="change(this)">购票
                                </button>
                            </td>
                        </tr>
                        <tr id="record_2">
                            <td>2</td>
                            <td>{{ query_post[1][0] }}</td>
                            <td>{{ query_post[1][1] }}</td>
                            <td>{{ query_post[1][2] }}</td>
                            <td>{{ query_post[1][3] }}</td>
                            <td>➡</td>
                            <td>{{ query_post[1][5] }}</td>
                            <td>{{ query_post[1][6] }}</td>
                            <td>{{ query_post[1][7] }}</td>
                            <td>{{ query_post[1][8] }}</td>
                            <td>{{ query_post[1][9] }}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#myModal" onclick="change(this)">购票
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">请输入购票张数</h4>
                </div>
                <div class="modal-body">
                    <input id="purchase_n" type="number"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="quick_buy_wrapper(document.getElementById('purchase_n').value)">提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    {% if current_user.is_authenticated %}
        <div class="tab-pane fade" id="buy">

            <div class="col-md-4">
                <h3>车票预定</h3>
                {% import 'bootstrap/wtf.html' as wtf %}
                {{ wtf.quick_form(buy_form) }}
            </div>
        </div>
    {% endif %}
    <script type="text/javascript">
        var global_indicator = "-1"

        function quick_buy(record, n) {
            var xml_request = new XMLHttpRequest();
            xml_request.open("POST", "/quick_buy", true);
            var data = {
                "train_name": record.cells[0].innerText,
                "start_station": record.cells[1].innerText,
                "start_date": record.cells[2].innerText,
                "end_station": record.cells[5].innerText,
                "end_date": record.cells[6].innerText,
                "how_many": n
            }
            xml_request.send(JSON.stringify(data))
            xml_request.onreadystatechange = function () {
                if (xml_request.readyState === 4 && xml_request.status === 200) {
                    minus = parseInt(xml_request.responseText)
                    a = record.cells[9].innerText
                    record.cells[9].innerText = "" + (parseInt(a) - minus)
                    if (minus === 0) {
                        {#    失败#}
                     $(".alert-danger").fadeIn(500).delay(1500).fadeOut(500);
    }else {
    {#    成功#}
    $(".alert-success").fadeIn(500).delay(1500).fadeOut(500);

    }
    }
    }
    }
    function change(record) {
    global_indicator=record.parentNode.parentNode.id
    }
    function quick_buy_wrapper(cnt) {
    p=document.getElementById(global_indicator)
    quick_buy(p,cnt)
    }
    </script>
    </div>


{% endblock %}
{% block javascript %}
{% endblock %}
